<p class="instructions">
  Environment is the key factor in young children's linguistic development.  Do you agree or disagree?  Please provide evidence to support your position.
</p>

<div class="control-group">
  <%= f.text_area :answer_discrete, :class => "span4", :rows => 6 %>
</div>