<p class="instructions">
  Which  factors are key in promoting and hindering linguistic development in young children?  Please explain.
</p>

<div class="control-group">
  <%= f.text_area :answer_discrete, :class => "span4", :rows => 6 %>
</div>